<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <p>I am Sumitto-san. Wat you, Wattosan?</p>

        {{> footer}}
    </body>
</html>